.resume_skills{
    color: white;
    background-color: rgba(124, 122, 122, 0.31);
    border: 1px #565656 dashed;
    margin: 0.5%;
}
.resume_skills ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.resume_skills li{
    margin: 3%;
    border-radius: 5%;
    font-weight: bolder;
}
.skill_tier_0{
    color: #ccc587;
}
.skill_tier_1{
    color: #ffee00;
    border-bottom: rgba(255, 0, 0, 0.23) solid 1px;
}
.skill_tier_2{
    color: #ffec00;
    border-bottom: rgba(255, 0, 0, 0.66) solid 1px;
    animation: kami_skill 5s infinite;
}
